.main {
    margin-top: -40px;
    background-image: url("mindfulness-social-care.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 80vh;
}

.main-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40vh;
    width: 35vw;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.4);
}

.title {
    padding: 20px;
    height: 100%;
    border: 3px solid rgba(0, 0, 0, 0.8);
}

.title h4 {
    margin: auto;
    line-height: 1.5em;
}

.title p span {
    font-weight: 500;
    line-height: 3em;
    vertical-align: middle;
    padding: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
}

.title-content {
    position: absolute;
    top: calc(20% + 40px);
    bottom: 20%;
    left: 0;
    right: 0;
    margin: auto;
}

.callout {
    min-height: 50vh;
    background-image: url("Doctor-Natural-Hair.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    word-wrap: normal;
}
.callout2{
    background-image: url("1.jpg");
    background-position: center;
    background-attachment: fixed;

}
.callout h3, .callout h4{
    padding: 20px;
    padding-top: 20vh;
    font-size: 5em;
    font-weight: 700;
    letter-spacing: 6px;
    color: #fff;
    text-shadow:
            -1px -1px 0 #ccc,
            1px -1px 0 #ccc,
            -1px 1px 0 #ccc,
            1px 1px 0 #ccc;
}

.callout h4{
    font-size: 3.6em;
    letter-spacing: 1px;
    text-shadow: none;
}

@media screen and (max-width: 1368px) {
    .main-title {
        height: 30vh;
        width: 40vw;
    }

    .title h4 {
        font-size: 3em;
    }
}

@media screen and (max-width: 800px) {
    .main-title {
        height: 40vh;
        width: 50vw;
    }
}

@media screen and (max-width: 600px) {
    .main-title {
        height: 35vh;
        width: 55vw;
    }
}

@media screen  and (max-height: 600px) {
    .callout {
        height: 40vh;
    }
    .main-title {
        height: 60vh;
    }
}
@media screen and (max-width: 400px) {
    .main-title {
        height: 35vh;
        width: 80vw;
    }
}
.badge{background-color: #e51c23; font-weight: 600;}